_input_raw_data/social_explorer_tract_ancestry_data/R13669333_SL140.csv
_combined_data_1_of_15/dots_data_all_ancestry.csv
_combined_data_1_of_15/dots_data_for_asians.csv
_combined_data_1_of_15/dots_data_for_hispanics_central_american.csv
_combined_data_1_of_15/dots_data_for_hispanics_na_and_islands.csv
_combined_data_1_of_15/dots_data_for_hispanics_south_american.csv
_combined_data_1_of_15/dots_data_for_multiple_ancestries_a_i.csv
_combined_data_1_of_15/dots_data_for_multiple_ancestries_j_z.csv
_combined_data_1_of_15/dots_data_for_sub_saharan_africa.csv
_combined_data_1_of_15/dots_data_for_west_indians.csv
_input_raw_data/us_census_cartography/cb_2022_us_tract_500k.zip
_input_raw_data/us_census_cartography/cb_2022_us_tract_500k/cb_2022_us_tract_500k.cpg
_input_raw_data/us_census_cartography/cb_2022_us_tract_500k/cb_2022_us_tract_500k.dbf
_input_raw_data/us_census_cartography/cb_2022_us_tract_500k/cb_2022_us_tract_500k.prj
_input_raw_data/us_census_cartography/cb_2022_us_tract_500k/cb_2022_us_tract_500k.shp
_input_raw_data/us_census_cartography/cb_2022_us_tract_500k/cb_2022_us_tract_500k.shp.ea.iso.xml
_input_raw_data/us_census_cartography/cb_2022_us_tract_500k/cb_2022_us_tract_500k.shp.iso.xml
_input_raw_data/us_census_cartography/cb_2022_us_tract_500k/cb_2022_us_tract_500k.shx
